body{   
  position:relative;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;}
  .topnavcolor{
    
    background-color:#eeeeeec4;
  }
  .wi{
    width: 66.7%!important;
  }
  .ali{
    font-size: 12px;
    padding-top: 5px;
}
a {
  color: rgba(0, 0, 0, 0.575);
  text-decoration: none;
}
body::-webkit-scrollbar { width: 0 !important }
.carousel-inner{height: 495px; object-fit: contain

}.cl{background-color: #bec3c778;
}
.s{        font-weight: bolder;
  font-size: x-small;
  letter-spacing: 7px;
  margin: 6px;
}
.navbar-brand{
  color: black!important;
}
.active a{
  color: rgb(0, 0, 0);
}.pad{
  padding: 1.05rem;
}
a:hover{
  color: black!important;
}
.carousel-control-next, .carousel-control-prev{
  width: 6%;
}
.d-md-block {
  display: block!important;
  position: sticky;
  padding: 200px;
}
.fon {
  transition-timing-function: ease;
  font-size: xxx-large;
  font-family: cursive;
  font-weight: 700;

}
.subtitle{
  letter-spacing: 1px;
}
.btn-secondary {
  color: #fff;
  background-color: #3083cd;}