body{   
  position:relative;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;}
  .topnavcolor{
    
    background-color:#eeeeeec4;
  }
  .wi{
    width: 66.7%!important;
  }
  .ali{
    font-size: 12px;
    padding-top: 5px;
}
a:hover {
  color: rgb(0, 0, 0)!important;
}a {
  color: rgba(0, 0, 0, 0.575)!important;
}
body::-webkit-scrollbar { width: 0 !important }
.carousel-inner{height: 487px; object-fit: contain

}.cl{background-color: #bec3c778;
}
.s{        font-weight: bolder;
  font-size: x-small;
  letter-spacing: 7px;
  margin: 6px;
}
.navbar-brand{
  color: black!important;
}